body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    padding: 0;
    margin:0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
}

.card {
    float: left; /* all the .cards will align side by side*/
    width: 20%; /* they will all be 20% of the browser space width*/
    margin-left: 10%; /* provides white space from the left edge of the browser*/

}

.card a {
    text-align: center;
}

img {
    width: 100%; /* 100% of the .card container css which is 20% of screen*/
    height: 180px;
}

h1 {
    text-align: center;
}